<template>
  <div >
    <ul>
      <li>Temperature Visualization : {{tempData[1].value}}</li>
      <li>Liquid Nitrogen Visualization : {{tempData[0].value}}</li>
    </ul>
    <div>
    <el-row>
      <el-button type="primary">Sing In</el-button>
      </el-row>
    </div>
  </div>
</template>

<script>
import tempData from '../data/temp'

export default {
  name: 'HomePage',
  data(){
    return {
      tempData,
    };
  }
  
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
  width: 50%;
  font-weight: bold;
}
a {
  color: #42b983;
}
</style>
