<template>
  <div id="app">
      <header>
        <nav>
          <ul>
            <li class="nav-item">
              <img class="logo" alt="Vue logo" src="./assets/whiteLogo.png">
            </li>
          </ul>
        </nav>
      </header>
      <main>
       <HomePage msg="Welcome to Your Vue.js App"/>
      </main>
  </div>
</template>

<script>
import HomePage from './components/HomePage.vue'

export default {
  name: 'app',
  components: {
    HomePage
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}


header {
  background-color: #428bca;
  width: 1300px;
  margin: 0 auto;
}
ul {
  padding: 3px;
  display: flex;
}
.nav-item {
  display: inline-block;
  padding: 5px 10px;
  font-size: 22px;
  border-right: 1px solid #bbb;
}
.logo {
  vertical-align: middle;
  width: 200px;
}
</style>
